<div class="container">
  <div class="jumbotron center">
    <h1>Welcome to Pinteresting!</h1>

    <% if user_signed_in? %>

    <% else %>
      <p>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-default" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </p>
      <% end %>

        <!-- FIX iframe unresponsive -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ha6iXTrwzWg" frameborder="0" allowfullscreen></iframe>

  </div>
</div>
